{"12": [[":ARG0", 17], [":ARG1", 10], [":time", 3]], "17": [[":location", 5]], "5": [[":quant", 1]], "10": [[":ARG1", 2], [":ARG2", 11]], "2": [[":mod", 14], [":poss", 17], [":part", 6]], "8": [[":ARG0", 2], [":ARG1", 6]], "11": [[":location", 15]], "15": [[":op1", 0]], "0": [[":direction", 16]], "3": [[":ARG1", 17], [":ARG3", 9], [":time", 4]], "9": [[":ARG0", 17]], "4": [[":dayperiod", 13], [":mod", 7]]}
{"5": [[":op2", 3]], "3": [[":ARG0", 7], [":ARG1", 4]], "4": [[":ARG0", 2], [":ARG1", 1]], "1": [[":ARG0", 0], [":mod", 6]]}
{"2": [[":domain", 1], [":mod", 0]]}
{"0": [[":ARG0", 5], [":ARG1", 4], [":ARG2", 3]], "5": [[":mod", 6]], "7": [[":ARG0", 0], [":ARG1", 2]], "2": [[":ARG0", 4], [":ARG2", 1]]}
{"4": [[":ARG1", 1], [":ARG2", 2]], "0": [[":ARG2", 1]], "2": [[":domain", 3]]}
{"4": [[":ARG0", 3], [":ARG1", 1]], "1": [[":ARG0", 3], [":direction", 2]], "2": [[":op1", 0]]}
{"0": [[":op1", 2], [":op2", 1], [":time", 3]], "2": [[":ARG0", 5], [":ARG1", 4]], "1": [[":ARG0", 5], [":ARG1", 4]]}
{"6": [[":ARG2", 1]], "1": [[":ARG0", 4], [":ARG2", 2], [":mod", 5], [":time", 0]], "4": [[":mod", 3]]}
{"2": [[":ARG0", 1], [":ARG1", 5]], "5": [[":ARG1", 0], [":location", 3]], "0": [[":poss", 4]]}
{"1": [[":ARG0", 0], [":ARG1", 2]], "3": [[":ARG1", 2], [":ARG0", 0]], "7": [[":ARG1", 2], [":ARG2", 4]], "4": [[":ARG1", 0], [":ARG2", 6], [":location", 5]]}
{"4": [[":location", 3]], "3": [[":time", 1]], "1": [[":dayperiod", 0], [":mod", 2]]}
{"9": [[":op1", 2], [":op2", 7]], "2": [[":ARG1", 10], [":ARG2", 1]], "1": [[":op1", 8], [":quant", 5]], "5": [[":unit", 4], [":mod", 0]], "7": [[":ARG0", 10], [":ARG1", 3], [":mod", 6]]}
{"5": [[":ARG0", 7], [":ARG1", 4], [":mod", 9], [":time", 2]], "7": [[":mod", 6]], "4": [[":ARG0", 1], [":ARG1", 0]], "8": [[":ARG1", 0]], "2": [[":op1", 3]]}
{"1": [[":ARG0", 0], [":ARG1", 2]], "2": [[":ARG0", 6], [":ARG1", 4]], "3": [[":ARG1", 2], [":degree", 5]]}
{"8": [[":ARG1", 5], [":ARG2", 1]], "5": [[":op1", 4], [":op2", 6]], "4": [[":ARG1", 7]], "6": [[":ARG1", 3], [":mod", 0]], "7": [[":part", 3]], "1": [[":ARG0", 7], [":mod", 2]]}
{"2": [[":ARG0", 4], [":ARG1", 5]], "4": [[":mod", 3]], "5": [[":ARG0", 0], [":ARG1", 6], [":time", 1]]}
{"3": [[":ARG0", 5], [":ARG1", 4]], "4": [[":ARG0", 5], [":ARG2", 0]], "0": [[":op1", 2], [":direction", 1]]}
{"6": [[":op1", 2], [":op2", 5]], "2": [[":ARG0", 8], [":ARG1", 3], [":ARG4", 0], [":time", 7]], "8": [[":part", 3]], "4": [[":part", 0]], "5": [[":ARG0", 8], [":destination", 1]]}
{"0": [[":ARG1", 11]], "12": [[":ARG2", 11], [":ARG0", 9], [":ARG1", 4]], "9": [[":ARG1", 8]], "8": [[":poss", 5]], "4": [[":unit", 6], [":mod", 7]], "11": [[":location", 1]], "1": [[":op1", 13]], "2": [[":ARG0", 11], [":ARG1", 3]], "3": [[":mod", 10]]}
{"8": [[":ARG1", 4], [":ARG2", 3]], "4": [[":ARG1", 7], [":ARG2", 2], [":manner", 0]], "3": [[":ARG0", 7], [":ARG2", 5], [":ARG3", 1], [":purpose", 6]], "5": [[":poss", 7]], "6": [[":ARG0", 7], [":ARG1", 1]], "1": [[":poss", 7]]}
{"18": [[":ARG2", 17]], "17": [[":op1", 21], [":op2", 20]], "21": [[":ARG0", 22], [":ARG1", 6]], "6": [[":ARG1", 22], [":path", 1]], "10": [[":ARG1", 6]], "19": [[":ARG1", 6], [":ARG2", 4]], "5": [[":ARG1", 4]], "4": [[":poss", 12]], "1": [[":op1", 23]], "0": [[":ARG1", 21], [":ARG0", 2]], "11": [[":ARG1", 2], [":ARG0", 13]], "20": [[":ARG1", 22], [":location", 9]], "3": [[":ARG1", 20], [":mod", 7]], "9": [[":op1", 8]], "15": [[":ARG0", 20], [":ARG3", 14]], "16": [[":ARG1", 15]]}
{"2": [[":snt1", 0], [":snt2", 1]], "0": [[":ARG0", 11], [":ARG1", 3], [":time", 12]], "12": [[":ARG0", 11], [":ARG1", 9], [":mod", 5], [":location", 10]], "9": [[":mod", 8], [":poss", 11], [":part", 1]], "11": [[":part", 10]], "4": [[":ARG1", 1], [":degree", 6], [":compared-to", 7]]}
{"0": [[":ARG1", 2], [":ARG2", 1]]}
{"0": [[":ARG0", 1]]}
{"3": [[":ARG0", 1], [":ARG2", 0], [":purpose", 2]]}
{"3": [[":ARG0", 6], [":ARG1", 0]], "4": [[":consist", 0]], "2": [[":ARG1", 0], [":ARG0", 1], [":time", 5]]}
{"6": [[":op1", 0], [":op2", 5]], "0": [[":ARG0", 8], [":ARG1", 7]], "7": [[":poss", 2]], "5": [[":ARG0", 8], [":ARG1", 4], [":ARG2", 2]], "4": [[":quant", 3], [":purpose", 1]]}
{"6": [[":op2", 3], [":time", 1]], "3": [[":ARG1", 7], [":ARG2", 5]], "5": [[":ARG0", 7], [":ARG2", 4], [":mod", 2]], "2": [[":mod", 0]]}
{"8": [[":op1", 5], [":op2", 6]], "5": [[":ARG0", 4], [":ARG1", 9], [":manner", 7]], "7": [[":degree", 0]], "6": [[":ARG0", 4], [":ARG1", 2], [":ARG2", 1]], "4": [[":part", 2]], "1": [[":op1", 3]], "9": [[":part", 3]]}
{"3": [[":ARG0", 10], [":ARG1", 8]], "4": [[":part", 8]], "2": [[":ARG1", 8]], "0": [[":ARG1", 2], [":ARG2", 7]], "11": [[":part", 7]], "5": [[":ARG1", 11]], "9": [[":ARG1", 11], [":ARG2", 1]], "1": [[":poss", 6]]}
{"4": [[":ARG0", 3], [":ARG1", 7]], "7": [[":ARG0", 1], [":ARG1", 9]], "1": [[":ARG0", 0], [":ARG1", 8]], "10": [[":ARG0", 8], [":ARG1", 2]], "2": [[":ARG1", 6]], "6": [[":topic", 5]], "5": [[":poss", 0]]}
{"4": [[":ARG1", 5], [":time", 2]], "5": [[":ARG0", 0], [":ARG4", 3], [":direction", 1]]}
{"3": [[":ARG0", 0], [":ARG1", 2], [":manner", 1]]}
{"10": [[":ARG1", 9], [":purpose", 8], [":mod", 4]], "8": [[":ARG0", 9], [":ARG1", 3], [":ARG2", 5]], "3": [[":ARG1", 6], [":degree", 0]], "6": [[":ARG0", 9]], "0": [[":op1", 7]], "1": [[":ARG1", 7], [":ARG0", 9]], "2": [[":ARG2", 1], [":ARG1", 9]]}
{"10": [[":ARG1", 3], [":ARG2", 2]], "3": [[":ARG0", 6], [":ARG1", 7]], "7": [[":ARG0", 6], [":ARG1", 0]], "0": [[":ARG0", 9]], "2": [[":ARG0", 6], [":ARG1", 1]], "1": [[":ARG1", 6], [":ARG4", 4], [":time", 8], [":mod", 5]]}
{"4": [[":ARG1", 8], [":time", 9], [":manner", 6]], "8": [[":op1", 1], [":op2", 3]], "1": [[":mod", 0], [":domain", 10]], "0": [[":quant", 7]], "3": [[":degree", 2], [":domain", 10]], "2": [[":quant", 5]]}
{"0": [[":ARG0", 3], [":ARG1", 2]], "2": [[":mod", 1]], "4": [[":ARG1", 0]]}
{"12": [[":op1", 8], [":op2", 9]], "8": [[":ARG0", 14], [":ARG1", 5], [":location", 6]], "15": [[":ARG1", 8]], "14": [[":part", 6]], "2": [[":ARG1", 8], [":ARG2", 0]], "0": [[":mod", 10], [":domain", 5]], "9": [[":ARG1", 3], [":ARG2", 14], [":mod", 1]], "3": [[":ARG1", 5], [":ARG2", 13]], "13": [[":op1", 4], [":mod", 7]], "11": [[":ARG2", 4], [":ARG0", 14], [":ARG1", 5]]}
{"8": [[":ARG0", 4]], "5": [[":ARG2", 8], [":degree", 6]], "0": [[":ARG1", 8], [":ARG2", 2]], "3": [[":ARG1", 2], [":direction", 7]], "7": [[":mod", 1]]}
{"1": [[":ARG0", 3], [":ARG1", 2]], "2": [[":poss", 0]]}
{"3": [[":op2", 1]], "1": [[":ARG0", 4], [":ARG1", 0]], "0": [[":poss", 2]]}
{"2": [[":op2", 1]], "1": [[":ARG0", 3], [":ARG1", 0]]}
{"4": [[":op2", 3]], "3": [[":ARG0", 1], [":ARG1", 2], [":ARG2", 5]], "0": [[":ARG1", 2]]}
{"2": [[":ARG1", 1]], "0": [[":ARG1", 2]]}
{"4": [[":ARG1", 2]], "2": [[":ARG0", 5], [":ARG1", 0]], "0": [[":ARG1", 1], [":manner", 3]]}
{"1": [[":mod", 0], [":mod", 2]]}
{"2": [[":ARG0", 3], [":ARG1", 0], [":ARG2", 1]], "0": [[":ARG0", 1]]}
{"0": [[":ARG0", 1], [":mod", 2]]}
{"3": [[":ARG2", 2]], "2": [[":ARG0", 1], [":manner", 0]]}
{"0": [[":ARG0", 6], [":degree", 1], [":time", 2]], "1": [[":mod", 4]], "2": [[":dayperiod", 3], [":mod", 5]]}
{"1": [[":ARG0", 7], [":ARG1", 6], [":mod", 5]], "6": [[":ARG0", 3], [":ARG1", 7]], "3": [[":ARG0", 7], [":ARG1", 2]], "0": [[":ARG1", 2]], "4": [[":ARG1", 0]]}
{"8": [[":op2", 10]], "10": [[":ARG0", 4], [":ARG1", 7]], "7": [[":ARG1", 0]], "0": [[":ARG1", 9]], "9": [[":ARG1", 3]], "3": [[":ARG1", 6], [":time", 5], [":mod", 2]], "2": [[":mod", 1]]}
{"0": [[":ARG1", 6], [":ARG2", 3], [":beneficiary", 5]], "4": [[":source", 3]], "1": [[":ARG1", 4]], "3": [[":location", 2]]}
{"0": [[":mod", 1]]}
{"3": [[":ARG0", 6], [":ARG1", 1]], "1": [[":ARG0", 6], [":ARG1", 2]], "2": [[":ARG0", 6], [":ARG1", 4]], "4": [[":ARG0", 0], [":mod", 5]]}
{"16": [[":ARG2", 14]], "14": [[":ARG0", 2], [":ARG1", 9], [":ARG2", 10]], "9": [[":ARG1", 6], [":time", 19], [":duration", 4], [":mod", 12]], "6": [[":ARG1", 7], [":location", 15]], "7": [[":poss", 2]], "15": [[":op1", 3], [":mod", 18]], "3": [[":location", 8]], "0": [[":ARG4", 3], [":time", 5]], "5": [[":op1", 1], [":quant", 17]], "17": [[":unit", 13]], "19": [[":dayperiod", 11], [":mod", 20]]}
{"0": [[":mod", 1]]}
{"9": [[":ARG0", 13], [":ARG1", 12]], "12": [[":ARG0", 1], [":ARG1", 6], [":ARG2", 13]], "6": [[":ARG0", 13], [":ARG1", 11], [":mod", 0]], "11": [[":op1", 4], [":op2", 5], [":op3", 3]], "4": [[":ARG1", 8], [":ARG2", 7]], "5": [[":location", 10]], "2": [[":ARG1", 6]]}
{"4": [[":ARG2", 2]], "2": [[":ARG0", 0], [":ARG1", 1]], "1": [[":poss", 3]]}
{"3": [[":ARG0", 1], [":ARG1", 4], [":ARG2", 2]], "4": [[":domain", 5]], "0": [[":ARG1", 5]], "6": [[":ARG1", 3]]}
{"1": [[":ARG0", 0]]}
{"1": [[":ARG1", 3], [":ARG2", 0], [":mod", 2]]}
{"8": [[":ARG1", 5], [":condition", 6]], "5": [[":time", 3]], "3": [[":dayperiod", 2]], "7": [[":ARG1", 8]], "6": [[":ARG0", 0], [":ARG1", 1]], "4": [[":ARG0", 1], [":location", 9]]}
{"3": [[":ARG0", 0], [":location", 2]], "2": [[":mod", 1]]}
{"1": [[":ARG0", 0]]}
{"1": [[":ARG1", 2], [":ARG2", 3], [":mod", 0]]}
{"10": [[":ARG0", 7], [":ARG1", 2]], "7": [[":op1", 5], [":op2", 1]], "2": [[":ARG1", 8], [":ARG2", 3]], "6": [[":ARG1", 8], [":ARG0", 0], [":ARG2", 9], [":purpose", 4]], "4": [[":ARG0", 9]]}
{"1": [[":ARG0", 0], [":ARG1", 3]], "3": [[":ARG1", 4], [":degree", 2]]}
{"1": [[":ARG0", 0]]}
{"6": [[":op2", 5]], "5": [[":ARG0", 0], [":ARG1", 4], [":direction", 3], [":time", 2]], "2": [[":dayperiod", 1]]}
{"8": [[":ARG1", 5]], "5": [[":ARG0", 10], [":ARG1", 7], [":ARG2", 3]], "0": [[":location", 7], [":ARG1", 2]], "2": [[":poss", 10]], "11": [[":ARG1", 8], [":ARG0", 6]], "6": [[":mod", 1], [":location", 4]], "1": [[":degree", 9]], "4": [[":ARG0", 10]]}
{"0": [[":ARG1", 4], [":ARG2", 3]], "2": [[":ARG1", 4], [":degree", 1]]}
{"3": [[":beneficiary", 0], [":poss", 5]], "4": [[":ARG1", 3], [":ARG2", 1], [":mod", 2]]}
{"7": [[":op2", 8]], "8": [[":ARG0", 0], [":ARG1", 6]], "6": [[":ARG0", 0], [":ARG1", 5]], "5": [[":location", 4], [":mod", 2]], "3": [[":ARG0", 5], [":ARG1", 0], [":ARG2", 1]]}
{"3": [[":op1", 1]], "1": [[":ARG0", 4], [":ARG1", 2], [":ARG3", 0]]}
{"2": [[":ARG0", 0], [":mod", 1]]}
{"1": [[":op2", 0]], "0": [[":mod", 2], [":mod", 3]]}
{"2": [[":ARG0", 4], [":ARG1", 1]], "1": [[":ARG0", 4], [":ARG1", 0]], "0": [[":mod", 3]]}
{"0": [[":ARG0", 2], [":ARG1", 1]]}
{"1": [[":mod", 0]]}
{"0": [[":ARG1", 5], [":ARG2", 4]], "1": [[":time", 4], [":ARG0", 3], [":ARG1", 2]]}
{"3": [[":ARG0", 1], [":ARG1", 0]], "0": [[":ARG0", 1], [":ARG1", 2]]}
{"8": [[":ARG0", 5], [":ARG2", 10]], "10": [[":ARG1", 1], [":ARG2", 9]], "1": [[":ARG0", 2], [":ARG1", 6]], "2": [[":mod", 3]], "4": [[":ARG1", 9], [":ARG2", 6], [":ARG3", 7]], "0": [[":ARG1", 7]]}
{"0": [[":ARG0", 2], [":ARG1", 3]], "1": [[":ARG0", 3]]}
{"4": [[":ARG0", 6], [":ARG1", 5]], "6": [[":mod", 0]], "5": [[":mod", 2], [":location", 3], [":mod", 1], [":domain", 7]]}
{"0": [[":ARG0", 2], [":ARG1", 3]], "3": [[":domain", 1]]}
{"0": [[":ARG0", 1], [":ARG1", 2]], "1": [[":poss", 4]], "2": [[":domain", 3]]}
{"4": [[":ARG2", 0]], "0": [[":domain", 1]], "1": [[":mod", 3]], "3": [[":mod", 2]]}
{"4": [[":ARG0", 0], [":ARG1", 5]], "0": [[":mod", 7]], "1": [[":ARG1", 4], [":ARG2", 2]], "2": [[":ARG0", 3], [":ARG1", 5]], "3": [[":mod", 6]]}
{"3": [[":ARG0", 1], [":ARG1", 0]], "0": [[":ARG0", 1], [":ARG1", 2]]}
{"2": [[":ARG0", 4], [":location", 1]], "3": [[":ARG1", 1], [":ARG2", 0]]}
{"1": [[":ARG0", 4], [":location", 0]], "2": [[":ARG1", 0], [":ARG2", 3]]}
{"14": [[":op2", 1]], "1": [[":ARG1", 13], [":ARG2", 7], [":time", 5]], "7": [[":ARG0", 9]], "9": [[":mod", 2]], "5": [[":ARG0", 0], [":ARG1", 6], [":time", 4]], "0": [[":mod", 10]], "4": [[":dayperiod", 3]], "8": [[":time", 4], [":ARG0", 0], [":ARG1", 12]], "11": [[":ARG0", 12]], "15": [[":ARG1", 11]]}
{"2": [[":op2", 3]], "3": [[":ARG0", 1], [":mod", 0]]}
{"6": [[":op2", 9]], "9": [[":ARG1", 1], [":ARG2", 5], [":time", 0]], "5": [[":ARG0", 1], [":ARG1", 8]], "0": [[":ARG1", 4]], "4": [[":ARG0", 1], [":mod", 2]], "3": [[":ARG1", 4], [":ARG0", 7]]}
{"2": [[":ARG0", 0], [":ARG1", 4], [":ARG2", 1], [":time", 3]]}
{"3": [[":ARG0", 0], [":ARG1", 2]], "2": [[":ARG0", 0], [":accompanier", 1]]}
{"15": [[":op1", 0], [":op2", 5]], "0": [[":ARG0", 2], [":ARG1", 13], [":time", 12], [":purpose", 14]], "13": [[":poss", 2]], "14": [[":mod", 16]], "5": [[":ARG0", 7], [":ARG1", 3], [":manner", 1]], "7": [[":ARG0", 3], [":ARG1", 17]], "17": [[":ARG0", 8], [":time", 10]], "10": [[":ARG1", 4], [":direction", 9]], "11": [[":ARG0", 3], [":ARG1", 2], [":ARG2", 6]]}
{"10": [[":op1", 8], [":op2", 0]], "8": [[":ARG0", 1], [":ARG1", 2], [":ARG2", 5], [":time", 11]], "2": [[":op1", 6], [":op2", 4]], "4": [[":ARG0", 9], [":ARG1", 7], [":time", 3]], "7": [[":ARG0", 12]], "0": [[":ARG0", 5], [":ARG1", 13]], "13": [[":ARG1", 1]]}
{"0": [[":ARG0", 4], [":ARG1", 1], [":mod", 2]], "2": [[":degree", 3]]}
